<div class="list-group-item clearfix" *ngIf="recipeService.currentRecipe != undefined">
    <span>
        <img src="{{recipeService.currentRecipe.image}}" alt="{{recipeService.currentRecipe.title}}" class="img-responsive" style="max-height: 200px;">
    </span>
    <div>
        <h4 class="list-group-item-heading">{{recipeService.currentRecipe.title}}</h4>
        <p class="list-group-item-text">Ready in {{recipeService.currentRecipe.readyInMinutes}} minutes</p>
        <p class="list-group-item-text">{{recipeService.currentRecipe.dairyFree}}</p>
        <p class="list-group-item-text">{{recipeService.currentRecipe.instructions}}</p>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of recipeService.currentRecipe.extendedIngredients">
                {{ingredient.name}} - {{ingredient.measures.metric.amount}} - {{ingredient.measures.metric.unitLong}}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let instruction of recipeService.currentRecipe.analyzedInstructions">
                <p *ngFor="let step of instruction.steps">
                    {{step.number}} : {{step.step}}
                </p>
            </li>
        </ul>
    </div>
</div>
