<div class="row" id="row-filter">
    <a role="button" data-toggle="collapse" data-target="#collapseOne"><h3>Filters</h3></a>
    <hr>
    <div class="collapse" id="collapseOne">
        <div>
            <app-filters></app-filters>
        </div>
    </div>
</div>
<div class="row" id="row-recipes">
    <div class="col-md-5" id="row-recipe-list">
        <h3 id="h3-recipes">Recipes</h3>
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-xs-12 col-md-6" id="row-display-info">
        <button class="my-button show-menu-btn" (click)="switchToMenuCard()">Show Menu</button>
        <div *ngIf="showInfo == 'select'" id="select">
            <p>Click on recipes for details!</p>
        </div>
        <div *ngIf="showInfo == 'menu'" id="menu">
            <app-new-menu></app-new-menu>
        </div>
        <div *ngIf="showInfo == 'recipe'" id="recipe">
            <app-recipe-detail></app-recipe-detail>
        </div>
    </div>
</div>
