#container{
    background-color: gainsboro;
}

.row {
    margin: 10px 20px 0px 20px;
}

hr {
    margin: 0px 0px 10px 0px;
}

#include {
    padding: 0px;
    display: flex;
    align-items: center;
    float: left;
}

#exclude {
    display: flex;
    align-items: center;
    float: right;
    padding: 0px;
}

.my-col {
    padding: 0px 0px 0px 15px;
}

.my-col-1 {
    padding: 0px;
}

.my-col-2 {
    padding: 0px 15px 0px 0px;
}

.my-labels {
    font-size: 20px;
}

#include-ingredient, #exclude-ingredients {
    padding: 0px;
}

#cuisine, #intolerance {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    padding: 5px 0px;
}

.my-dropdown-1 {
    width: 50%;
    float: left;
}

.my-dropdown-2 {
    width: 50%;
    float: right;
}

#apply-btn {
    float: right;
    margin: 5px 35px;
    padding: 5px 8px;
}

select {
    width: 98%;
    font-size: 18px;
}
