<div class="container">
    <div class="row">
            <form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
                <div class="form-group" id="include">
                    <label for="include-ingredient" class="my-labels">include Ingredient</label>
                    <input type="text" id="include-ingredient" formControlName="includeIngredient" class="form-control">
                </div>
                <div class="form-group" id="exclude">
                    <label for="exclude-ingredients" class="my-labels">exclude Ingredients</label>
                    <input type="text" id="exclude-ingredients" formControlName="excludeIngredients" class="form-control">
                </div>
                <div class="form-group">
                    <label for="intolerance" class="my-labels-2">Select Allergies</label>
                    <div *ngFor="let intolerance of intolerances" class="intolerance" id="intolerance">
                        <label>
                            <input type="checkbox" [value]="intolerance" (change)="onCheckboxChange($event, 'intoleranceArray')" />
                            {{intolerance}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cuisine" class="my-labels-2">Select Cuisine</label>
                    <div *ngFor="let c of cuisine" class="cuisine" id="cuisine">
                        <label>
                            <input type="checkbox" [value]="c" (change)="onCheckboxChange($event, 'cuisineArray')" />
                            {{c}}
                        </label>
                    </div>
                </div>
                <div class="form-group my-dropdown-1">
                    <select formControlName="diet" class="form-control">
                        <option class="placeholder" selected disabled value="">Select Diet</option>
                        <option *ngFor="let diet of diets">{{ diet }}</option>
                    </select>
                </div>

                <div class="form-group my-dropdown-2">
                    <select formControlName="course" class="form-control">
                        <option class="placeholder" selected disabled value="">Select Course</option>
                        <option *ngFor="let course of courses">{{ course }}</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Apply</button>
            </form>
        <hr>
        </div>
</div>




