<div id="new-menu-container">
    <div class="my-row">
        <h3>Create your own Menu Card</h3>
    </div>
    <div class="my-row">
        <input type="text" id="name" [(ngModel)]="newMenu.name" placeholder="Enter name">
    </div>
    <div class="my-row">
        <textarea id="note" rows="4" cols="50" [(ngModel)]="newMenu.note"
                  placeholder="You can add note here"
                  maxlength="400"></textarea>
    </div>
    <div class="my-row">
        <p>Recipes:</p>
        <div *ngFor="let recipe of newMenu.recipes">
            <div id="recipe-div">
                <div id="image">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}" class="img-responsive" style="max-height: 200px;">
                </div>
                <div id="details">
                    <p>Title{{recipe.title}}</p>
                    <p id="ready">Ready in {{recipe.readyInMinutes}} minutes</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-row">
        <button class="my-button" id="save-menu-btn" (click)="saveMenuCard()">Save</button>
    </div>
</div>
